//variables
$primaryDisplay: block;
$bodyBg:rgba(93, 44, 89, 0.12);

body {
    height: 100%;
    background: $bodyBg;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    text-align: center;
    margin : 0 auto;
    position: relative;
    top:2rem;
    right: 1rem;
  }
  
  .container {
      background: white;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      margin: 3em auto;
      min-height: 60vh;
      width: 30vw;
      //  animation: moveInBottom 2s ease-out .75s;
      // animation-fill-mode: backwards;
  }
  
  .form-content {
    width: 80%;
    margin: 20px auto;
    .form {
        width: 90%;
        margin: 0 auto;
        .input {
            box-shadow: 0 2px;
            outline:none;
            border: none;
            width: 60%;
            display: $primaryDisplay;
            padding: 0.8em;
            margin-bottom: 20px;
            transition: ease-in-out, width .35s ease-in-out;
            &:focus{
              background-color: rgba(93, 44, 89, 0.12);
            }
          }
          .btn {
            background-color: #e7e7e7;
            color: black;
            outline: none;
            cursor: pointer;
            width: 40%;
            padding: 10px;
            display: $primaryDisplay;
            &:hover{
               width:8rem;
            }
          }
      }
  }

  // @keyframes moveInBottom {
  //   0% {
  //     opacity: 0;
  //     transform: translateY(3rem);
  //   }

  //   100% {
  //     opacity: 1;
  //     transform: translate(0);
  //   }
  // }

  
  
  
 
  
  
  
  