body {
  height: 100%;
  background: rgba(93, 44, 89, 0.12);
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 2rem;
  right: 1rem;
}

.container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  margin: 3em auto;
  min-height: 60vh;
  width: 30vw;
  /* -webkit-animation: moveInBottom 2s ease-out .75s;
          animation: moveInBottom 2s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards; */
}

.form-content {
  width: 80%;
  margin: 20px auto;
}

.form-content .form {
  width: 90%;
  margin: 0 auto;
}

.form-content .form .input {
  -webkit-box-shadow: 0 2px;
          box-shadow: 0 2px;
  outline: none;
  border: none;
  width: 60%;
  display: block;
  padding: 0.8em;
  margin-bottom: 20px;
  -webkit-transition: ease-in-out, width .35s ease-in-out;
  transition: ease-in-out, width .35s ease-in-out;
}

.form-content .form .input:focus {
  background-color: rgba(93, 44, 89, 0.12);
}

.form-content .form .btn {
  background-color: #e7e7e7;
  color: black;
  outline: none;
  cursor: pointer;
  width: 40%;
  padding: 10px;
  display: block;
}

.form-content .form .btn:hover {
  width: 8rem;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=index.css.map */